!!!

%html
  %head
    %title Track
    = stylesheet_link_tag :application, :media => 'all'
    = javascript_include_tag :application
    = csrf_meta_tag

%body
  .navbar
    %h1#tracks= link_to('TRACKS', root_path)

    #user_nav
      - if current_user
        Logged in as #{current_user.email}
        = link_to "Log out", session_path, :method => :destroy
      - else
        = link_to "Sign up", new_user_path
        or
        = link_to "Log in", new_session_path

  .container-fluid
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash#{name}"

    = yield
